[submodule "subprojects/wlroots"]
	path = subprojects/wlroots
	url = https://gitlab.freedesktop.org/wlroots/wlroots.git
[submodule "subprojects/libliftoff"]
	path = subprojects/libliftoff
	url = https://gitlab.freedesktop.org/emersion/libliftoff.git
[submodule "subprojects/vkroots"]
	path = subprojects/vkroots
	url = https://github.com/Joshua-Ashton/vkroots
[submodule "subprojects/libdisplay-info"]
	path = subprojects/libdisplay-info
	url = https://gitlab.freedesktop.org/emersion/libdisplay-info
[submodule "subprojects/openvr"]
	path = subprojects/openvr
	url = https://github.com/ValveSoftware/openvr.git
[submodule "src/reshade"]
	path = src/reshade
	url = https://github.com/Joshua-Ashton/reshade
[submodule "thirdparty/SPIRV-Headers"]
	path = thirdparty/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers/
